.example-card {
    margin-top: 5px;
  }
  
  .mat-card-header {
    display: block;
    flex-direction: row;
}

.mat-stroked-button {
    border: 1px solid currentColor;
    padding: 0 15px;
    line-height: 20px;
}

.mat-card {
    border-radius: 20px;
}