<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>  
    <a class="heading" [routerLink]="['']"><span>Task Manager Dashboard</span></a>

    <span class="example-spacer"></span>

    <button [routerLink]="['']" routerLinkActive="router-link-active"  mat-button>Dashboard</button>
    <button [routerLink]="['task']"  mat-button>Tasks</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
