<div class="container">
    <p></p>
    <div class="row">
        <div class="col-sm-2">
            <button mat-stroked-button matTooltip="Create a new task" color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Create New Task</button>
        </div>
    </div>
    <p></p>
    <hr class="my-0">
    <p></p>
  <div class="row" [@listStagger]='tasks'>
      <div class="col-md-12">
          <div class="table-responsive">
              <table class="table table-striped table-bordered">
                  <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <th>Schedule Date</th>
                      <th>Status</th>
                      <th></th>
                      <th></th>
                  </tr>
                  <tr *ngFor="let item of tasks | paginate: { itemsPerPage: 5, currentPage: p }">
                      <td>{{ item.taskName }}</td>
                      <td>{{ item.description }}</td>
                      <td>{{ item.createdBy }}</td>
                      <td>{{ item.createdDate | date }}</td>
                      <td>{{ item.scheduleDate | date }}</td>
                      <td>
                          <span [ngClass]="{'text-success':item.status == 1, 'text-danger': item.status == 0}">
                              {{ item.status === true ? 'Complete' : 'In Progress' }}
                          </span>
                      </td>
                      <td>
                          <button mat-stroked-button (click)="openDialog(item)"><mat-icon>edit</mat-icon> Edit</button>
                      </td>
                      <td>
                          <button mat-raised-button (click)="openDeleteDialog(item)"><mat-icon>delete</mat-icon> Delete</button>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>

  <hr class="my-0">
  <br>
  <div>
        <pagination-controls (pageChange)="p = $event" class="d-flex justify-content-end"></pagination-controls>
  </div>

